# Database Configuration
DATABASE_URL=postgresql+asyncpg://username:password@localhost:5432/student_enrollment_db

# Application Configuration
APP_NAME=Student Course Enrollment Service
DEBUG=True
HOST=127.0.0.1
PORT=8000